body {
    background-color: black;
    color: white;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5rem auto;
    align-items: center;
}

.container .case {
    display: flex;
    flex-direction: row;  
    justify-content: space-around;
    max-width: 60rem;
    width: 60rem;
    max-height: 20rem;
    height: 20rem;
    margin-top: 5rem;
}

.container .case .caseImg {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 23rem;
    width: 23rem;
    max-height: 17rem;
    height: 17rem;
    width: 50%;
}

.container .case .caseImg .ivascular {
    width: 18rem;
}

.container .case .caseImg .century {
    width: 7rem;
}

.container .case .caseImg .saludPrevent {
    width: 19rem;
}

.container .case .caseText {
    max-width: 25rem;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem 0;
}

.container .case .caseText h3 {
    font-weight: 400;
    font-size: 1.5rem;
}

.container .case .caseText article {
    font-weight: 300;
}

.container .case .caseText .more {
    display: flex;
    flex-direction: row;
}

.container .case .caseText .more a{
    color: #4538DA;
    margin-right: 1rem ;
}

.container .case .caseText .more svg{
    margin-top: 0.1rem;
    color: #4538DA;
}

.container .case .caseImg .subtext {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    border-top: 1px solid black;
    width: 90%;
}

.container .case .caseImg .subtext svg {
    width: 2.5rem;
}

.container .case .caseImg .subtext h4 {
    font-weight: 400;
    font-size: 1.5rem;
}
