body {
    background-color: black;
    color: white;
    margin: 0%;
    padding: 0%;
}

.navRes {
    display: none;
}

.containerFlow {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    height: 100vh;
    margin: 0 auto;
    padding: 0 5%;
    background-color: #f6f6f6;
}

.containerFlow h1 {
    background-color: #f6f6f6;
    color: black;
    font-size: 50px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-weight: 400;
    text-align: center;
}

.containerFlow h2 {
    background-color: #f6f6f6;
    color: black;
    font-size: 30px;
    margin-bottom: 2rem;
    margin-left: 2rem;
    font-weight: 100;
    text-align: center;
}

.containerFlow h4 {
    background-color: white;
    color: black;
    padding: 1rem;
    font-size: 1.5rem;
    font-weight: 600;
}
  
.containerFlow p {
    background-color: white;
    color: black;
    font-size: 14;
    font-weight: 300;
    margin: 0;
}

.containerFlow .container_btn {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: #f6f6f6;
}

.containerFlow div {
    background-color: #f6f6f6;
}

.containerFlow div .img {
    height: 13rem;
    background-color: white;
}

.containerFlow .container_btn .readme .img img{
    height: 115px;
  }

.containerFlow .container_btn .readme .img p{
    background-color: #ffffff;
    font-weight: 300;
}

.containerFlow .readme {
    min-height: 25rem;
    background-color: white;
    text-align: center;
    width: 20rem;
    margin-bottom: 5rem;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 5rem auto;
    align-items: center;
}

.container .case {
    display: flex;
    flex-direction: row;  
    justify-content: space-around;
    max-width: 60rem;
    width: 60rem;
    max-height: 20rem;
    height: 20rem;
    margin-top: 5rem;
}

.container .case .caseImg {
    background-color: white;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    max-width: 23rem;
    width: 23rem;
    max-height: 17rem;
    height: 17rem;
    width: 50%;
}

.container .case .caseImg .ivascular {
    width: 18rem;
}

.container .case .caseImg .century {
    width: 7rem;
}

.container .case .caseImg .saludPrevent {
    width: 19rem;
}

.container .case .caseText {
    max-width: 25rem;
    margin: 0 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 3rem 0;
}

.container .case .caseText h3 {
    font-weight: 400;
    font-size: 1.5rem;
}

.container .case .caseText article {
    font-weight: 300;
}

.container .case .caseText .more {
    display: flex;
    flex-direction: row;
}

.container .case .caseText .more a{
    color: #4538DA;
    margin-right: 1rem ;
}

.container .case .caseText .more svg{
    margin-top: 0.1rem;
    color: #4538DA;
}

.container .case .caseImg .subtext {
    display: flex;
    justify-content: space-between;
    padding-top: 1rem;
    border-top: 1px solid black;
    width: 90%;
}

.container .case .caseImg .subtext svg {
    width: 2.5rem;
}

.container .case .caseImg .subtext h4 {
    font-weight: 400;
    font-size: 1.5rem;
}

@media screen and (max-width: 1150px) {
    .containerFlow {
      height: auto;
    }
  
    .containerFlow .container_btn {
      flex-direction: column;
      margin: 0 auto;
    }
  
    .containerFlow .container_btn .readme{
      margin: 0 auto;
      margin-bottom: 2rem;
    }
  
    .containerFlow .container_btn .readme p{
      font-size: 1rem;
    }
  
    .containerFlow h1 {
      margin-left: 0;
      font-size: 3rem;
    }

    .navRes {
        display: block;
    }
  
}

@media screen and (max-width: 980px) {
  
    .container .case {
        flex-direction: column;
        width: 100%;
    }

    .container .caseReverse {
        flex-direction: column-reverse;
        width: 100%;
    }

    .containerFlow .container_btn .readme{
        width: 18rem;
    }
  
    .container .case .caseImg {
        min-height: 200px;
        margin: 0 auto;
    }

    .container .case .caseImg img{
        max-height: 120px;
    }
  
    .container .case .caseText {
        margin: 0 auto;
    }
  
    .container .case .caseText h3 {
        display: none;
    }
  
}
  
@media screen and (max-width: 500px) {
  
    .containerFlow h1 {
      margin-left: 0;
      font-size: 1.5rem;
    }

    .container .case {
        margin-bottom: 2rem;
    }

    .containerFlow .container_btn .readme{
        width: 100%;
    }
  
    .container .case .caseImg {
        min-width: 80%;
    }

    .container .case .caseImg img{
        max-width: 248px;
    }
  
    .container .case .caseText .more {
        width: 80%;
        margin: 0 auto;
    }

    .container .case .caseText article  {
        width: 80%;
        margin: 0 auto;
        margin-bottom: 1rem;

    }
}
