* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
     background-color: #F6F6F6;
     color: black;
     max-width: 100%;
}

.resp {
    display: none;
}

.navRes {
    display: none;
}

.bodyCase {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 10%;
    margin-top: 3rem;
}

.bodyCase .textCase {
    display: flex;
    flex-direction: column;
    padding-right: 5%;
}

.bodyCase .textCase .img1{
    display: none;
    max-height: 265px;
    max-width: 397px;
    filter: grayscale(1);
    z-index: -1;
    margin: 0 auto;
    margin-bottom: 1rem;
}

.bodyCase .textCase p{
    margin-bottom: 1.5rem;
    line-height: 2rem;
    font-size: 1.1rem;
    width: 28rem;
}

.bodyCase .textCase .hidde {
    font-size: 0.8rem;
    margin: 0;
    margin-top: -1rem;
}

.bodyCase .img {
    display: flex;
    flex-direction: column;
}

.bodyCase .img img{
    max-height: 265px;
    max-width: 397px;
    margin-bottom: 2px;
    filter: grayscale(1);
    z-index: -1;
}

.bodyCase .img p{
    font-size: 0.8rem;
    margin-bottom: 1px;
}

.bodyCase .img .last{
    margin-bottom: 3rem;
}

.infoNext {
    margin: 0 10%;
    margin-top: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.infoNext .infoCase {
    display: flex;
    flex-direction: column;
}

.infoNext .infoCase article {
    display: flex;
    flex-direction: column;
} 

.infoNext .infoCase .bold {
    background-color: #F6F6F6;
    font-weight: 900;
}

.infoNext .infoCase a {
    text-decoration: underline;
    margin: 0.5rem 0;
    color: #4538DA;
}

.infoNext .logoContainer {
    display: flex;
    flex-direction: column;
}

.infoNext .logoContainer .logo {    
    width: 397;
    height: 265px;
    max-height: 265px;
    max-width: 397;
    align-items: center;
    text-align: center;
    background-color: white;
    margin-bottom: 1rem;
}

.infoNext .logoContainer .logo .alto{
    padding-top: 2.5rem;
    max-width: 9rem;
}

.infoNext .logoContainer .logo .ancho{
    padding-top: 5rem;
    width: 19rem;
    max-width: 19rem;
}

.infoNext .logoContainer .nextCase {
    display: flex;
    flex-direction: row;
    padding-left: 215px;
    align-items: center;
    text-align: right;
}

.infoNext .logoContainer .nextCase p {
    color: #4538DA;
    text-decoration: underline;
    margin-right: 1rem;
}

.infoNext .logoContainer .nextCase svg {
    fill: #4538DA;
    width: 2rem;
}

.infoNext .logoContainer .nextCase svg:hover{
    cursor: pointer;
}

@media screen and (max-width: 1150px) {
    .navRes {
        display: block;
    }

    .bodyCase {
        margin: 0 2%;
        margin-top: 3rem;
    }
}

@media screen and (max-width: 1000px) {
    .bodyCase {
        flex-direction: column;
    }
    .bodyCase .img .hidde {
        display: none;
    }

    .bodyCase .textCase p {
        font-size: 1.4rem;
        text-align: left;
        margin: 0 auto;
        margin-bottom: 1rem;
        width: auto;
    }

    .bodyCase .textCase .img1 {
        display: block;
    }

    .bodyCase .img {
        margin: 0 auto;
    }

    .bodyCase .img .img1 {
        display: none;
    }

}

@media screen and (max-width: 500px) {
    .infoNext {
        flex-direction: column;
        margin: 0;
    }

    .def {
        display: none;
    }

    .resp {
        display: block;
    }

    .infoNext .infoCase {
        justify-content: space-around;
        flex-direction: row;
        margin-bottom: 5rem;
    }

    .infoNext .logoContainer .nextCase {
        padding-left: 50%;
    }
    
    .bodyCase .textCase p {
        font-size: 1.2rem;
        text-align: left;
    }

    .logo {
        max-width: 310px;
    }

    .bodyCase .img img{
        max-width: 100%;
    }

}