@font-face {
  font-family: "Grotesk";
  src: url("../fonts/NeueHaasDisplay-Light.ttf");
  font-weight: 300;
}
@font-face {
  font-family: "Grotesk";
  src: url("../fonts/NeueHaasDisplay-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: "Grotesk";
  src: url("../fonts/NeueHaasDisplay-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: "Grotesk";
  src: url("../fonts/NeueHaasDisplay-Bold.ttf");
  font-weight: 700;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Grotesk';
}
