.mission_2 {
    background-color: #F6F6F6;
    display: flex;
    align-items: center;
    color: black;
}

.mission_2 .container {
    width: 80%;
    margin: 5% auto;
    display: flex;
    flex-direction: column;
}

.mission_2 .container .black{
    height: 25rem;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    padding-right: 5%;
}

.mission_2 .container .white{
    height: 25rem;
    display: flex;
    flex-direction: row-reverse;
    padding-left: 5%;
    background-color: white;
}

.mission_2 .container img{
    width: 25rem;
}

.mission_2 .container .text{
    display: flex;
    margin-top: 2rem;
    margin-right: 5rem;
}

.mission_2 .container .text svg {
    width: 3rem;
    margin-top: 1rem;
    margin-left: 2rem;
    margin-right: 2rem;
}

.mission_2 .container .text .description {
    display: flex;
    flex-direction: column;
}

.mission_2 .container .text .description p {
    margin-bottom: 5px;
    margin-top: 1rem;
    border-bottom: 1px solid;
    width: fit-content;
    font-size: 1.5rem;
    font-weight: 400;
}

.approach_1 .title .flecha {
    margin-left: 3rem;
}

.approach_1 {
    padding: 10% 5% 5% 5%;;
}

@media screen and (max-width: 1210px) {
    .mission_2 .container .text { 
        margin-right: 1rem;
    }
}

@media screen and (max-width: 1126px) {
    .mission_2 .container .black,
    .mission_2 .container .white  {
        flex-direction: column;
        height: auto; 
        padding: 0;
        padding-bottom: 3rem;
    }

    .mission_2 .container .text { 
        margin-right: 1rem;
        align-self: flex-end;
    }
}

@media screen and (max-width: 800px) {
    .mission_2 .container .black,
    .mission_2 .container .white  {
        width: 100%;
    }

    .mission_2 .container {
        width: 100%;
        margin: 0;
    }

    .mission_2 .container .text .description p {
        font-size: 1.2rem;
        font-weight: 300;
        border: none;
        margin-bottom: 0;
        margin-top: 0.4rem;
    }

    .mission_2 .container img {
        width: 320;
    }
}
