* {
   background-color: black;
   color: white; 
   padding: 0%;
   margin: 0%;
   font-family: Arial, Helvetica, sans-serif;
}

section {
    height: 100vh;
}

nav {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes_container {
    background-color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 5rem;
    padding-left: 5rem;
}

.redes_container div{
    background-color: white;
    widows: 250px;
}

.redes {
    background-color: white;
    color: black;
    padding-top: 0.7rem;
    padding-bottom: 0.7rem;
    width: 30rem;
    padding-right: 6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.redes a{
    background-color: white;
    color: black;
}

.main_container {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 5rem;
    padding-left: 5rem;
}

.main_nav {
    width: 30rem;
    background-color: black;
    color: white;
    padding-bottom: 2rem;
    padding-top: 2rem;
    padding-right: 8rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.main_nav a{
    background-color: black;
    color: white;
    padding-bottom: 5px;
}

.main_nav a:hover{
    cursor: pointer;
    border-bottom: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;

}

.subtitle{
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20;
}

.bold {
    background-color: black;
    font-weight: 500;
}

h6 {
    width: 250px;
    font-weight: 900;
}

.home_1 {
    padding: 0 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.home_1 footer{
    width: 2rem;
    height: 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 25%;
}
.home_1 footer div{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}

.home_1 footer .divider{
    background-color: white;
    height: 120px;
    width: 1px;
}

.home_1 .imagen{
    width: 82rem;
}

.home_1 .container h1{
    font-weight: 500;
    font-size: 130;
}

.home_1 .container{
    padding-left: 2rem;
    align-items: baseline;
    margin-top: 6%;
}

.home_1 .container h1 span{
    border-bottom: white;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    padding-bottom: 0.3rem;
    display: inline-block;
}

#btn_1 {
    border-radius: 5rem;
    background-color: white;
    color: darkviolet;
    border-color: darkviolet;
    margin-right: 2rem;
    margin-top: 2.5rem;
    padding: 15 50;
}

#btn_2 {
    border-radius: 5rem;
    background-color: black;
    color: white;
    border-color: darkviolet;
    margin-top: 2.5rem;
    padding: 15 90;
}

.home_2 {
    background-color: ghostwhite;
    display: flex;
    justify-content: space-around;
    flex-direction: row;

}

.home_2 h3{
    background-color: ghostwhite;
    color: black;
    font-size: 45px;
    margin-top: 3rem;
    margin-bottom: 2rem;
    margin-left: 2rem;

} 

.home_2 .index{
    width: 2rem;
    margin-top: 25%;
    height: 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.home_2 .container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.home_2 footer div{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}

.home_2 footer .divider{
    background-color: white;
    height: 120px;
    width: 1px;
}

.home_2 .container_btn {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: ghostwhite;

}

.home_2 div{
    background-color: ghostwhite;
}

.home_2 .readme{
    background-color:white;
    text-align: center;
    width: 20rem;
    margin-bottom: 5rem;
}

.home_2 div .img{
    height: 13rem;
    background-color: white;
}

.home_2 h4{
    background-color: white;
    color:black;
}

.home_2 p{
    background-color: white;
    color: black;
    font-size: 14;
    font-weight: 500;
    margin: 0;
}

.home_2 .readme input {
    border-radius: 5rem;
    background-color: white;
    color: black;
    border-color: darkviolet;
    margin-top: 2rem;
    padding: 8 55;
    font-size: 15;
    margin-bottom: 3rem;
}
.home_2 footer{
    margin-left: 2rem;
    background-color: ghostwhite;
    color: black;
}

.home_2 footer div{
    color: black;
}

.home_2 footer .divider{
    background-color: black;
}

.home_3{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding-right: 5%;
}

.home_3 svg{
    fill: white
}

.home_3 .text svg{
    background-color: white;
    fill: black;
    transform: rotate(180deg);
}

.home_3 .flecha_r{
    transform: rotate(180deg);
}

.home_3 .text b{
    color: black;
    background-color: white;
}

.home_3 .text{
    font-size: 20;
}

.home_3 .brand{
    background: white;
    width: 40%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem 2rem;
}

.home_3 .brand p{
    background-color: white;
    color: black;
}

.home_3 .brand span{
    background-color: white;
    color: black;
}

.home_3 .brand .text{
    background-color: white;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.home_3 .brand .divider{
    height: 1px;
    width: 100%;
    background-color: black;
}

.home_3 .brand .img{
    background-color: ghostwhite;
    height: 65%;
    width: 100%;
}

.home_3 .index {
    width: 2rem;
    margin-top: 10%;
    height: 250px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.home_3 footer {
    margin-left: 2rem;
    background-color: black;
    color: white;
}
.home_3 footer div{
    writing-mode: vertical-rl;
    text-orientation: mixed;
    transform: rotate(180deg);
}
.home_3 footer .divider{
    background-color:white;
    height: 120px;
    width: 1px;
}