body{
    background-color: black;
    color: white;
}

.navRes {
    display: none;
}

.background img {
    width: 100%;
}

.team_1 {
    padding: 2rem 5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: nowrap;
}

.team_1 img {
    width: 30rem;
    margin-bottom: 1rem;
}

.team_1 .teamText {
    align-items: center;
    width: 50%;
    margin: 0 auto;
}

.team_1 .teamText article {
    line-height: 2rem;
}

.team_1 .teamText p {
    color: #585858;
    margin-bottom: 0.8rem;
}

.team_1 .teamText .divider {
    height: 32rem;
}

.team_1 .president .personPresident {
    align-items: center;
    margin: 0 auto;
    margin-top: -17rem;
    padding-left: 2rem;
}

.teamPersons {
    display: flex;
    flex-direction: row-reverse;
    padding: 5% 10%;
}

@media screen and (max-width: 1150px) {
    .navRes {
        display: block;
    }
}

@media screen and (max-width: 765px) {
    .team_1 {
        flex-direction: column;
    }

    .team_1 .president {
        margin: 0 auto;
    }

    .team_1 .teamText .divider {
        height: 5rem;
    }

    .team_1 .teamText {
        margin: 0 auto;
        margin-top: -7rem;
        width: 95%;
    }

    .team_1 .president .personPresident {
        padding-left: 0;
        margin: 0 auto;
        margin-top: -11rem;
    }

    .team_1 .president .personContainer {
        width: auto;
    }

    .team_1 img {
        width: 300px;
        margin-bottom: 1rem;
    }

    .teamPersons {
        flex-direction: column;
    }

}
