<div class="paso">
    <header>
        <div class="number">
            02
        </div>
        <div class="text">
            <span class="titulo">Encuentra el problema</span>
            <p>¿Qué problema se resuelve primero? No importa.
                Con tiempo y energía, se arregla el que más repercusión tenga
                en el balance final.</p>
        </div>
    </header>
    <div class="lista">
        <div>Marketing Research</div>
        <div>Escucha a tu Equipo</div>
        <div>Analizar el Problema</div>
    </div>
</div>