<div class="paso">
      <div class="header">
        <div class="number">
          {{{number}}}
        </div>
        <div class="text">
          <div class="titulo">{{{titulo}}}</div>
          <p>
            {{{description}}}
          </p>
        </div>
      </div>
      <div class="lista">
        {{{pasos}}}
      </div>
    </div>