      <div class="teamText">
        <article>
            {{{team_text_1}}}
        </article>
        <div class="divider"></div>
        <p>ALDP Program Boston Scientific.</p>
        <br>
        <br>
        <article>
            {{{team_text_2}}}
        </article>
        <img src="img/teamImg.png" alt="">
        <p>Mike Mahoney | CEO de Boston Scientific</p>
        <p>Ortíz | Presidente Latam de Boston Scientific</p>
      </div>  