    <section class="titleContainer">
        <h2 class="title">
            <div>
                <p>{{{optionalLine}}}</p>
            </div>
            <div>
                <p>{{{needLine}}}</p> 
                <span class="flecha">
                    <svg width="90" height="55" viewBox="0 0 90 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M62.5821 0L59.8324 2.75551L82.3638 25.335H0V29.2399H82.7252L59.7853 52.2445L62.5349 55L90 27.4764L62.5821 0Z" fill="white"/>
                    </svg>                        
                </span>
            </div>
        </h2>
    </section>